body{
    margin: 0;
}

#text-container {
    font-size: 4vw;
    transition: all 1s ease;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative; 
}

.fade-text {
    transition: opacity 1s ease;
    margin-left: 2.7vw;
    padding: 0;
}

.stationary-letters{
    padding: 0;
    margin: 0;
    transition: all 0.8s ease;
}

#r-letter{
    position: absolute;
    left: 2.3%;
}

#a-letter{
    position: absolute;
    left: 21%;
}

#s-letter{
    position: absolute;
    left: 34.6%;
}

#h-letter{
    position: absolute;
    left: 75.6%;
}

#second-a-letter{
    position: absolute;
    left: 91.7%;
}