#team-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2%;
    row-gap: 2%;
    margin: 5% 12% 0 12%;
}

.character-container{
    border: solid;
    border-radius: 20px;
    padding: 4%;
    border-width: 2px;
    max-height: 220px;
    overflow-y: hidden;
}

.content-text{
    display: none;
    opacity: 0;
    transition: all 1.5s ease;
}


.images {
    width: 80%;
    aspect-ratio: 15 / 10;
    border-radius: 2%;
}

#heading{
    font-weight: 100;
    font-size: 3.8vh;
    text-align: center;
}

.buttons{
    width: 12%;
    height: 6vh;
    border-radius: 20px;
}

#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

h2 {
    font-size: 2.5vh;
    font-weight: 100;
    margin: 0;
}

h3 {
    font-size: 2vh;
    font-weight: 100;
    margin: 0;
}

p {
    font-size: 2.5vh;
}

@media screen and (max-width: 768px) {
    #team-gallery{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 2%;
        row-gap: 2%;
        margin: 5% 12% 0 12%;
    }  
    
    .buttons{
        width: 23%;
        height: 6vh;
        border-radius: 20px;
    }

    .buttons span {
        font-size: 1.4vh;
    }

    .images {
        width: 40%;
        aspect-ratio: 15 / 10;
        border-radius: 2%;
    }

    
}

@media screen and (max-width: 360px) {
    #team-gallery{
        display: grid;
        grid-template-columns: auto ;
        column-gap: 2%;
        row-gap: 2%;
        margin: 5% 12% 0 12%;
    }  
}